body {
	background: url("../img/bodybg.png");
	background-repeat: repeat;
	font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'EB Garamond', serif;
}

hr {
	margin-bottom: 2%;
	border-width: 2px;
	color: #f3f3f3;
}

.welcome {
	width: auto;
	margin-top: 4%;
	text-align: center;
}

.meimg {
	height: 100px;
	width: auto;
	margin-left: 21%;
	margin-top: 2%;
	padding: 2%;
	border: 2px solid black;
	border-radius: 5px;
}

.abtme {
	margin-top: 1%;
}

.panel-heading {
	background: url("../img/headingbg.png");
}

.panel {
	margin: 3%;
	background: url("../img/panelbg.png");
}

.pbackground {
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 1%;
}

.pbackground h3 {
	font-weight: 500;
	margin-right: 5%;
	padding-right: 20px;
}

.pbackground p {
	margin-left: 3%;
}

.bgtext {
	margin-left: 2%;
	margin-right: 1%;
	padding-top: 1%;
}

.kerning {
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 2%;
}

.self {
	font-style: italic;
}

.tail {
	text-align: center;
}

.container {

}

@media all and (max-width: 1400px) {

}
